<html>
<head>
    <meta charset="utf-8">
    <title>简约登录页面Js粒子动态背景</title>
    <link rel="stylesheet" media="screen" href="/static/css/user.css">
</head>
<body>
<!-- particles.js container -->
<div id="particles-js" style="display: flex;align-items: center;justify-content: center">
    <canvas class="particles-js-canvas-el" width="1085" height="969" style="width: 100%; height: 100%;"></canvas>
</div>
<div class="apTitle">简约登录页面Js粒子动态背景</div>
<div class="logcon">
    <form action="/user/" method="post" enctype="application/x-www-form-urlencoded">

        <input type="text" placeholder="账号" name="username" value="admin">
        <input type="password" placeholder="密码" name="password" value="root">
        <input type="submit" value="登陆">
    </form>
</div>
</body>
</html>